<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="https://i.pinimg.com/736x/67/5f/bf/675fbf80eabf11721c93f345a156b40f.jpg">
    </head>
    <body>
        <nav>
            <h1>ALGOSTRUCTURES</h1>
            <ul id="bger">
                <div *ngFor="let link of links">
                    <li>
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAaElEQVRIx2NgGOqAEcZgZefQb25suIBPcW19g8Hvnz8ukmwBKzuHQHNjw3tiNFRUVDCSZAExLicX1NY3ODJ2dHT8ZxgF+OKA1kHERGsfjFowasGoBaMWEGNBbX2DI60Mr61vkBr69QEAFDIY9Yz1owAAAAAASUVORK5CYII=" width="16px">
                        <a [href]="link.url">{{ link.name }}</a>
                    </li>
                </div>
            </ul>
        </nav>
        <main>
            <article>
                <h2>Ever feel like this?</h2>
                <p><img src="https://img.devrant.com/devrant/rant/r_102813_Wx1Vb.jpg" alt="alt text" title="Logo title"></p>
                <p>I was inspired by <a href="https://raymondsheng.github.io/">Rusty Algorithms</a> (now defunct 😢) to create a website for those who need a refresher on algorithms.</p>
            </article>
        </main>
    </body>
</html>

<router-outlet></router-outlet>